/*
REGRAS GLOBAIS HEADER
*/
.interface {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#front_p {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1.5px;
}

#front_p span {
  color: rgb(255, 213, 0);
}

/*
MENU EM LISTA 
*/
header a {
  color: #7d7d7d;
  text-decoration: none;
  /*
  ADICIONA BLOCK-LEVEL
  +
  WIDTH E HEIGHT
  */
  display: inline-block;
}

/*
ANIMAÇÃO AO PASSAR O MOUSE SOBRE O LINK
*/
header a:hover {
  color: #fff;
  transform: scale(1.05);
  transition: 0.4s;
}

/*
RETIRA O ESTILO DE LISTA GLOBAL NO HEADER
*/
header nav ul {
  list-style-type: none;
}

/*
DISTRIBUI OS LINKS NA HORIZONTAL
+
ESPAÇAMENTO VERTICAL ZERADO
*/
header nav ul li {
  display: inline-block;
  padding: 0 40px;
}
