section.sobre {
  padding: 40px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.img-sobre img {
  border-radius: 40px;
}

.sobre .txt-sobre {
  padding: 5%;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 8px #ffffff6e;
}

.sobre .txt-sobre h2 {
  margin-bottom: 20px;
  line-height: 48px;
  font-size: 38px;
}

.sobre .txt-sobre h2 span {
  color: rgb(255, 213, 0);
}

.sobre .txt-sobre p {
  margin: 10px 0;
  text-align: justify;
}
