/*
FONTE PADRÃO DO SITE
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
FONTE MONOESPAÇADA
*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/*
IMPORTAÇÃO DE ARQUIVOS CSS
*/
@import url("header.css");
@import url("main.css");
@import url("especialidades.css");
@import url("sobre.css");
@import url("portfolio.css");
@import url("form.css");
@import url("footer.css");

/*
DEFINIÇÕES GLOBAIS
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  height: 100vh;
  background-color: #000;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*
TÍTULO DAS SEÇÕES
*/

h2.titleBase {
  text-align: center;
  font-size: 38px;
  color: white;
}

h2.titleBase span {
  color: rgb(255, 213, 0);
}

/*
BOTÃO DE CONTATO
*/
.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(255, 213, 0);
  /*
  TIRA A BORDA DO BOTÃO
  */
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px rgb(255, 213, 0);
  background-color: transparent;
  color: #fff;
  transform: scale(1.05);
}

/*BOTÃO DE REDE SOCIAL*/

.btn-github {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(255, 213, 0);
  box-shadow: 0px 0px 10px #ffffff1a;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.2s;
}

.btn-github:hover {
  box-shadow: 0px 0px 8px rgb(255, 213, 0);
  background-color: transparent;
  color: #fff;
  transform: scale(1.05);
}

/*RESPONSIVIDADE*/
@media screen and (max-width: 1020px) {
  /*CLASSES GERAIS*/
  .flex {
    flex-direction: column;
  }

  .titleBase {
    text-align: center;
  }

  .titleCall {
    line-height: 40px;
  }
  /*HEADER*/
  /*esconde menu e botão do header*/
  header .menu-desktop {
    display: none;
  }

  header .btn-contato {
    display: none;
  }

  /*MAIN*/
  /*call to action*/
  .img-home {
    display: none;
  }

  section.home {
    padding: 35px 8%;
  }
  .btn-main{
    justify-content: center;
  }
  .txt-home p {
    font-size: 19px;
  }
  /*especialidades*/
  section.especialidades {
    padding: 40px 4%;
  }
  .especialidades .titleBase {
    padding-bottom: 60px;
  }
  #txtBox {
    font-size: 19px;
  }
  /*seção sobre*/
  .sobre .txt-sobre h2 {
    margin-bottom: 60px;
    line-height: 40px;
    text-align: center;
  }
  .sobre .txt-sobre p {
    font-size: 19px;
    text-align: left;
    padding-bottom: 35px;
  }
  .socialAbout {
    justify-content: center;
  }
  /*seção portfólio*/
  section.portfolio {
    padding: 80px 2%;
  }
  #bgWork {
    padding-bottom: 30px;
  }
  /**/
  #front_p{
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
  }
}
